In [9]:
import pandas as pd
import numpy as np

In [10]:
data=np.random.randn(4,3)

In [11]:
data

array([[-0.6042605 , -1.01253978, -0.676614  ],
       [ 0.52170257,  0.93667831,  0.87147348],
       [ 0.08480616,  1.06678966,  1.69205755],
       [-1.49395651,  1.95843559,  1.08914227]])

In [12]:
dataFrame = pd.DataFrame(data)

In [13]:
dataFrame

          0         1         2
0 -0.604260 -1.012540 -0.676614
1  0.521703  0.936678  0.871473
2  0.084806  1.066790  1.692058
3 -1.493957  1.958436  1.089142

In [14]:
dataFrame[0]
#ilk klon gelir

0   -0.604260
1    0.521703
2    0.084806
3   -1.493957
Name: 0, dtype: float64

In [15]:
newdataframe= pd.DataFrame(data,index=["fatmanur","zeynep","atlas","mehmet"],columns=["maas","yas","calisma saati"])

In [16]:
newdataframe

              maas       yas  calisma saati
fatmanur -0.604260 -1.012540      -0.676614
zeynep    0.521703  0.936678       0.871473
atlas     0.084806  1.066790       1.692058
mehmet   -1.493957  1.958436       1.089142

In [17]:
newdataframe[["maas","yas"]]

              maas       yas
fatmanur -0.604260 -1.012540
zeynep    0.521703  0.936678
atlas     0.084806  1.066790
mehmet   -1.493957  1.958436

In [18]:
newdataframe.loc["fatmanur"]

maas            -0.604260
yas             -1.012540
calisma saati   -0.676614
Name: fatmanur, dtype: float64

In [19]:
newdataframe.iloc[1]

maas             0.521703
yas              0.936678
calisma saati    0.871473
Name: zeynep, dtype: float64

In [20]:
newdataframe

              maas       yas  calisma saati
fatmanur -0.604260 -1.012540      -0.676614
zeynep    0.521703  0.936678       0.871473
atlas     0.084806  1.066790       1.692058
mehmet   -1.493957  1.958436       1.089142

In [21]:
newdataframe["emeklilik yasi"]=newdataframe["yas"]+newdataframe["yas"]

In [22]:
newdataframe

              maas       yas  calisma saati  emeklilik yasi
fatmanur -0.604260 -1.012540      -0.676614       -2.025080
zeynep    0.521703  0.936678       0.871473        1.873357
atlas     0.084806  1.066790       1.692058        2.133579
mehmet   -1.493957  1.958436       1.089142        3.916871

In [27]:
newdataframe.drop("emeklilik yasi", axis =1)
#kolon silmek için axis 1 olmalı

              maas       yas  calisma saati
fatmanur -0.604260 -1.012540      -0.676614
zeynep    0.521703  0.936678       0.871473
atlas     0.084806  1.066790       1.692058
mehmet   -1.493957  1.958436       1.089142

In [29]:
newdataframe.drop("mehmet",axis=0)
#satır silmek için axis 0 olmalı

              maas       yas  calisma saati  emeklilik yasi
fatmanur -0.604260 -1.012540      -0.676614       -2.025080
zeynep    0.521703  0.936678       0.871473        1.873357
atlas     0.084806  1.066790       1.692058        2.133579

In [30]:
newdataframe

              maas       yas  calisma saati  emeklilik yasi
fatmanur -0.604260 -1.012540      -0.676614       -2.025080
zeynep    0.521703  0.936678       0.871473        1.873357
atlas     0.084806  1.066790       1.692058        2.133579
mehmet   -1.493957  1.958436       1.089142        3.916871

In [31]:
#yukarıda tamamen silinmedi tamamen silmek için inplace kullanılır
newdataframe.drop("emeklilik yasi", axis=1, inplace=True)

In [32]:
newdataframe

              maas       yas  calisma saati
fatmanur -0.604260 -1.012540      -0.676614
zeynep    0.521703  0.936678       0.871473
atlas     0.084806  1.066790       1.692058
mehmet   -1.493957  1.958436       1.089142

In [34]:
newdataframe.loc["fatmanur"]["yas"]

-1.012539778042099

In [35]:
newdataframe.loc["atlas","yas"]

1.066789656001072

In [36]:
newdataframe <0

           maas    yas  calisma saati
fatmanur   True   True           True
zeynep    False  False          False
atlas     False  False          False
mehmet     True  False          False

In [37]:
booleanframe= newdataframe<0

In [38]:
newdataframe[booleanframe]

              maas      yas  calisma saati
fatmanur -0.604260 -1.01254      -0.676614
zeynep         NaN      NaN            NaN
atlas          NaN      NaN            NaN
mehmet   -1.493957      NaN            NaN

In [39]:
newdataframe[newdataframe<0]

              maas      yas  calisma saati
fatmanur -0.604260 -1.01254      -0.676614
zeynep         NaN      NaN            NaN
atlas          NaN      NaN            NaN
mehmet   -1.493957      NaN            NaN

In [40]:
newindexlist=["fat","zey","atl","meh"]

In [41]:
newdataframe["yeni index"]= newindexlist

In [42]:
newdataframe

              maas       yas  calisma saati yeni index
fatmanur -0.604260 -1.012540      -0.676614        fat
zeynep    0.521703  0.936678       0.871473        zey
atlas     0.084806  1.066790       1.692058        atl
mehmet   -1.493957  1.958436       1.089142        meh

In [43]:
newdataframe.set_index("yeni index")

                maas       yas  calisma saati
yeni index
fat        -0.604260 -1.012540      -0.676614
zey         0.521703  0.936678       0.871473
atl         0.084806  1.066790       1.692058
meh        -1.493957  1.958436       1.089142

In [44]:
newdataframe

              maas       yas  calisma saati yeni index
fatmanur -0.604260 -1.012540      -0.676614        fat
zeynep    0.521703  0.936678       0.871473        zey
atlas     0.084806  1.066790       1.692058        atl
mehmet   -1.493957  1.958436       1.089142        meh

In [45]:
newdataframe.set_index("yeni index", inplace= True)

In [46]:
newdataframe

                maas       yas  calisma saati
yeni index
fat        -0.604260 -1.012540      -0.676614
zey         0.521703  0.936678       0.871473
atl         0.084806  1.066790       1.692058
meh        -1.493957  1.958436       1.089142

In [47]:
ilkindexler=["simpson","simpson","simpson","south park","south park","south park"]

In [48]:
icindexler=["homer","bart","merge","cartman","kenny","kyle"]

In [49]:
birlesmisindex=list(zip(ilkindexler,icindexler))

In [50]:
birlesmisindex

[('simpson', 'homer'),
 ('simpson', 'bart'),
 ('simpson', 'merge'),
 ('south park', 'cartman'),
 ('south park', 'kenny'),
 ('south park', 'kyle')]

In [51]:
birlesmisindex=pd.MultiIndex.from_tuples(birlesmisindex)

In [52]:
birlesmisindex

MultiIndex([(   'simpson',   'homer'),
            (   'simpson',    'bart'),
            (   'simpson',   'merge'),
            ('south park', 'cartman'),
            ('south park',   'kenny'),
            ('south park',    'kyle')],
           )

In [53]:
benimcizgifilmlistem=[[40,"a"],[10,"b"],[30,"c"],[9,"d"],[10,"e"],[11,"f"]]

In [54]:
cizgifilmnumpydizi=np.array(benimcizgifilmlistem)

In [55]:
cizgifilmdataframe= pd.DataFrame(cizgifilmnumpydizi,index=birlesmisindex, columns=["yas","meslek"])

In [56]:
cizgifilmdataframe

                   yas meslek
simpson    homer    40      a
           bart     10      b
           merge    30      c
south park cartman   9      d
           kenny    10      e
           kyle     11      f

In [57]:
cizgifilmdataframe.loc["simpson"]

      yas meslek
homer  40      a
bart   10      b
merge  30      c

In [58]:
cizgifilmdataframe.loc["south park"].loc["kenny"]

yas       10
meslek     e
Name: kenny, dtype: object

In [59]:
cizgifilmdataframe.index.names=["film adi","isim"]

In [60]:
cizgifilmdataframe

                   yas meslek
film adi   isim
simpson    homer    40      a
           bart     10      b
           merge    30      c
south park cartman   9      d
           kenny    10      e
           kyle     11      f