In [28]:
import numpy as np
import pandas as pd

In [29]:
sozluk1={"isim":["ahmet","mehmet","zeynep","atil"],
         "spor":["kosu","yüzme","kosu","basketbol"],
         "kalori":[100,200,300,400]}

In [30]:
dataFrame1=pd.DataFrame(sozluk1,index=[0,1,2,3])

In [31]:
dataFrame1

     isim       spor  kalori
0   ahmet       kosu     100
1  mehmet      yüzme     200
2  zeynep       kosu     300
3    atil  basketbol     400

In [32]:
sozluk2={"isim":["osman","levent","atlas","fatma"],
         "spor":["kosu","yüzme","kosu","basketbol"],
         "kalori":[200,100,50,400]}

In [33]:
dataFrame2=pd.DataFrame(sozluk2,index=[4,5,6,7])

In [34]:
sozluk3={"isim":["ayse","mahmut","duygu","nur"],
         "spor":["kosu","yüzme","badminton","tenis"],
         "kalori":[100,200,800,500]}

In [35]:
dataFrame3=pd.DataFrame(sozluk3,index=[8,9,10,11])

In [36]:
dataFrame1

     isim       spor  kalori
0   ahmet       kosu     100
1  mehmet      yüzme     200
2  zeynep       kosu     300
3    atil  basketbol     400

In [37]:
dataFrame2

     isim       spor  kalori
4   osman       kosu     200
5  levent      yüzme     100
6   atlas       kosu      50
7   fatma  basketbol     400

In [38]:
dataFrame3

      isim       spor  kalori
8     ayse       kosu     100
9   mahmut      yüzme     200
10   duygu  badminton     800
11     nur      tenis     500

concatenation

In [39]:
pd.concat([dataFrame1,dataFrame2,dataFrame3],axis=0)

      isim       spor  kalori
0    ahmet       kosu     100
1   mehmet      yüzme     200
2   zeynep       kosu     300
3     atil  basketbol     400
4    osman       kosu     200
5   levent      yüzme     100
6    atlas       kosu      50
7    fatma  basketbol     400
8     ayse       kosu     100
9   mahmut      yüzme     200
10   duygu  badminton     800
11     nur      tenis     500

merge

In [40]:
mergesozluk1={"isim":["ahmet","mehmet","zeynep","atil"],
              "spor":["kosu","yuzme","kosu","basketbol"]}

In [41]:
mergeDataFrame1=pd.DataFrame(mergesozluk1)

In [42]:
mergeDataFrame1

     isim       spor
0   ahmet       kosu
1  mehmet      yuzme
2  zeynep       kosu
3    atil  basketbol

In [43]:
mergesozluk2={"isim":["ahmet","mehmet","zeynep","atil"],
              "spor":[100,200,150,250]}

In [44]:
mergeDataFrame2=pd.DataFrame(mergesozluk2)

In [45]:
mergeDataFrame2

     isim  spor
0   ahmet   100
1  mehmet   200
2  zeynep   150
3    atil   250

In [46]:
pd.merge(mergeDataFrame1, mergeDataFrame2, on="isim")
#isim üzerinde 2 dataframe i birleştirdik

     isim     spor_x  spor_y
0   ahmet       kosu     100
1  mehmet      yuzme     200
2  zeynep       kosu     150
3    atil  basketbol     250

In [47]:
maasSozluk={"isim":["fatmanur","zeynep","mehmet","ali"],
            "departman":["yazilim","satis","pazarlama","yazilim"],
            "maas":[200,300,400,500]}

In [48]:
maasDataFrame=pd.DataFrame(maasSozluk)

In [49]:
maasDataFrame

       isim  departman  maas
0  fatmanur    yazilim   200
1    zeynep      satis   300
2    mehmet  pazarlama   400
3       ali    yazilim   500

In [50]:
maasDataFrame["departman"].unique()
#her bir departmanı bir kez yazdırı

array(['yazilim', 'satis', 'pazarlama'], dtype=object)

In [51]:
maasDataFrame["departman"].nunique()
#kaç çeşit departman var onları yazdırır

3

In [52]:
maasDataFrame["departman"].value_counts()
#her bir departmandan kaç tane var onu yazdırır

yazilim      2
satis        1
pazarlama    1
Name: departman, dtype: int64

In [57]:
def bruttenNete(maas):
  return maas * 0.66

In [58]:
maasDataFrame["maas"].apply(bruttenNete)

0    132.0
1    198.0
2    264.0
3    330.0
Name: maas, dtype: float64

In [61]:
maasDataFrame.isnull()

    isim  departman   maas
0  False      False  False
1  False      False  False
2  False      False  False
3  False      False  False

In [66]:
newdata={"karakter sınıfı":["south park","south park", "simpson","simpson","simpson"],
         "karakter ismi": ["cartman","kenny","homer","bart","bart"],
         "karakter yas": [9,10,50,20,10]}

In [67]:
karakterDF= pd.DataFrame(newdata)

In [68]:
karakterDF

  karakter sınıfı karakter ismi  karakter yas
0      south park       cartman             9
1      south park         kenny            10
2         simpson         homer            50
3         simpson          bart            20
4         simpson          bart            10

In [69]:
karakterDF.pivot_table(values = "karakter yas",index=["karakter sınıfı","karakter ismi"],aggfunc=np.sum)

                               karakter yas
karakter sınıfı karakter ismi
simpson         bart                     30
                homer                    50
south park      cartman                   9
                kenny                    10